@import "tailwindcss";

@theme {
  --color-blanc-casse: #FFF8F8;
  --color-noir-bleute: #00111B;
  --color-framboise: #DD2D4A;
  --color-vert: #15B097;
  --color-bleu: #087E8B;
  --color-icon: #f7efef;
  --color-focus: #2684FF;
}

:root {
  --color-bg-primary: #FFF8F8;
  --color-text-primary: #00111B;
  --color-text-secondary: color-mix(in srgb, #00111B 75%, #FFF8F8);
  --color-border: color-mix(in srgb, #00111B 35%, #FFF8F8);
  --color-gris-clair: color-mix(in srgb, #00111B 20%, #FFF8F8);
  --color-gris-moyen: color-mix(in srgb, #00111B 60%, #FFF8F8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #00111B;
    --color-text-primary: #FFF8F8;
    --color-text-secondary: color-mix(in srgb, #FFF8F8 65%, #00111B);
    --color-border: color-mix(in srgb, #FFF8F8 35%, #00111B);
    --color-gris-clair: color-mix(in srgb, #FFF8F8 20%, #00111B);
    --color-gris-moyen: color-mix(in srgb, #FFF8F8 60%, #00111B);

  }
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-robotoFlex), sans-serif;
}

h3 {
  font-size: 0.875rem;
}

@media (min-width: 500px) and (max-width: 1023px) {
  h3 {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 390px) {
  .wrap-under390 {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}

@media (min-width: 500px) and (max-width: 639px) {
  .articles-grid {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}